{% extends "base_generic.html" %}
{% block headerjava %}
<!--<script src="/static/accJobs.js" type="text/javascript"></script>-->
    <!--<head>-->

        <!--<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>-->
        <!--<script type="text/javascript">-->
            <!--google.charts.load('current', {packages:["orgchart"]});-->
            <!--google.charts.setOnLoadCallback(drawChart);-->

            <!--function drawChart() {-->
                <!--$.getJSON('/static/output.json', function(jsonData){-->

                    <!--var data = new google.visualization.DataTable();-->
                    <!--data.addColumn('string', 'Name');-->
                    <!--data.addColumn('string', 'Manager');-->
                    <!--data.addColumn('string', 'Email');-->
                    <!--$.each(jsonData, function(i,v){-->
                        <!--data.addRow([v.name, v.manager, v.email]);-->
                    <!--});-->
                    <!--// Create the chart.-->
                    <!--var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));-->
                    <!--// Draw the chart, setting the allowHtml option to true for the tooltips.-->
                    <!--chart.draw(data, {allowCollapse:true, allowHtml:true, 'size':'large'});-->
                <!--});-->
            <!--}-->
     <!--</script>-->
    <!--</head>-->
{% endblock %}

{% block content %}
    {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}