{% extends "base_generic.html" %}
{% block headercss %}
        <link rel="stylesheet" href="/static/index.css">
{% endblock %}
{% block headerjava %}
        <script src="/static/jobs.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
        <div>
           <!--- <div id=results>
                1984 Results for 'Brotherhood'
            </div>-->
            <div id=above>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="searchagain" class="sr-only">Search</label>
                    <input class="form-control" id="searchagain" placeholder="Search Here" oninput="searchTable();">
                </div>
            </div>
        </div>

        <div id="jobs">
            <br>
            <div>
                <article>
                    <position><a href="http://www.google.com">UI Designer</a></position>
                    <other>3/25/19</other>
                    <other>Amherst, MA</other>
                </article>
                <article>
                    <description>You believe that reality is something objective, external, existing in its own right. You also believe that the nature of reality is self-evident. When you delude yourself into thinking that you see something, you assume that everyone else sees the same thing as you. But I tell you, Winston, that...</description>
                </article>
                <br>
            </div>
            <div>
                <article>
                    <position><a href="http://www.google.com">UI Designer</a></position>
                    <other>3/25/19</other>
                    <other>Amherst, MA</other>
                </article>
                <article>
                    <description>You believe that reality is something objective, external, existing in its own right. You also believe that the nature of reality is self-evident. When you delude yourself into thinking that you see something, you assume that everyone else sees the same thing as you. But I tell you, Winston, that...</description>
                </article>
                <br>
            </div>
            <div>
                <article>
                    <position><a href="http://www.google.com">UI Designer</a></position>
                    <other>3/25/19</other>
                    <other>Amherst, MA</other>
                </article>
                <article>
                    <description>You believe that reality is something objective, external, existing in its own right. You also believe that the nature of reality is self-evident. When you delude yourself into thinking that you see something, you assume that everyone else sees the same thing as you. But I tell you, Winston, that...</description>
                </article>
                <br>
            </div>
            <div>
                <article>
                    <position><a href="http://www.google.com">UI Designer</a></position>
                    <other>3/25/19</other>
                    <other>Amherst, MA</other>
                </article>
                <article>
                    <description>You believe that reality is something objective, external, existing in its own right. You also believe that the nature of reality is self-evident. When you delude yourself into thinking that you see something, you assume that everyone else sees the same thing as you. But I tell you, Winston, that...</description>
                </article>
                <br>
            </div>
            <div>
                <article>
                    <position><a href="http://www.google.com">UI Designer</a></position>
                    <other>3/25/19</other>
                    <other>Amherst, MA</other>
                </article>
                <article>
                    <description>You believe that reality is something objective, external, existing in its own right. You also believe that the nature of reality is self-evident. When you delude yourself into thinking that you see something, you assume that everyone else sees the same thing as you. But I tell you, Winston, that...</description>
                </article>
                <br>
            </div>
            <div>
                <article>
                    <position><a href="http://www.google.com">UI Designer</a></position>
                    <other>3/25/19</other>
                    <other>Amherst, MA</other>
                </article>
                <article>
                    <description>You believe that reality is something objective, external, existing in its own right. You also believe that the nature of reality is self-evident. When you delude yourself into thinking that you see something, you assume that everyone else sees the same thing as you. But I tell you, Winston, that...</description>
                </article>
                <br>
            </div>
        </div>

        <article>
            <positionlabel>Position Title</positionlabel>
            <otherlabel1>Expiration</otherlabel1>
            <otherlabel2>Location</otherlabel2>
        </article>
{% endblock %}
